## Voron Trident 300mm Octopus TMC2209 USB config
##===================================================================

[include basic_macros.cfg]
[include cmd_override_macros.cfg]
[include led_effect_macros.cfg]

[include pa_calibrate.cfg]
[include test_speed.cfg]
[include resonance_testing.cfg]
[include heat_soak.cfg]

#[include temperature_color.cfg]
#[include stealthburner_led_macros.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_200032000950314B33323220-if00

[mcu can0]
canbus_uuid: 197dbe2c0a97

[mcu host]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
#max_velocity: 300
#max_accel: 3000
max_velocity: 500
max_accel: 10000
max_accel_to_decel: 5000
max_z_velocity: 15
max_z_accel: 50
square_corner_velocity: 5.0

[temperature_sensor Octopus_Pro_429]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor CANBOARD]
sensor_type: temperature_mcu
sensor_mcu: can0

[board_pins octopus_pro_429_tmc2209]
aliases:
    
  ## Motors
  motor0_step_pin=PF13,  motor0_dir_pin=PF12,  motor0_enable_pin=PF14,  motor0_uart_pin=PC4,
  motor1_step_pin=PG0,   motor1_dir_pin=PG1,   motor1_enable_pin=PF15,  motor1_uart_pin=PD11,
  motor2_step_pin=PF11,  motor2_dir_pin=PG3,   motor2_enable_pin=PG5,   motor2_uart_pin=PC6,   
  motor3_step_pin=PG4,   motor3_dir_pin=PC1,   motor3_enable_pin=PA0,   motor3_uart_pin=PC7,   
  motor4_step_pin=PF9,   motor4_dir_pin=PF10,  motor4_enable_pin=PG2,   motor4_uart_pin=PF2,   
  motor5_step_pin=PC13,  motor5_dir_pin=PF0,   motor5_enable_pin=PF1,   motor5_uart_pin=PE4,   
  motor6_step_pin=PE2,   motor6_dir_pin=PE3,   motor6_enable_pin=PD4,   motor6_uart_pin=PE1,
  motor7_step_pin=PE6,   motor7_dir_pin=PA14,  motor7_enable_pin=PE0,   motor7_uart_pin=PD3,

  ## Endstops
  endstop0_pin=PG6,  endstop1_pin=PG9,  endstop2_pin=PG10, endstop3_pin=PG11, 
  endstop4_pin=PG12, endstop5_pin=PG13, endstop6_pin=PG14, endstop7_pin=PG15,

  ## Heaters
  heated_bed_pin=PA1, he0_pin=PA2, he1_pin=PA3, he2_pin=PB10, he3_pin=PB11,    

  ## Thermistors
  TB_pin=PF3, T0_pin=PF4, T1_pin=PF5, T2_pin=PF6, T3_pin=PF7, 

  ## Fans
  fan0_pin=PA8, fan1_pin=PE5, fan2_pin=PD12, fan3_pin=PD13, fan4_pin=PD14, fan5_pin=PD15,
  
  ## Probe
  probe_pin=PC5,
 
  # Accel
  adxl345_cs_pin=PA15,

  # Neopixel
  neopixel_pin=PB0,


[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4



#####################################################################
#             Fluidd/Mainsail Required
#####################################################################

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

#####################################################################
#	X/Y Stepper Settings
#####################################################################

[stepper_x]
## B/X motor (connected to MOTOR_7)
step_pin: motor7_step_pin
dir_pin: motor7_dir_pin
enable_pin: !motor7_enable_pin
rotation_distance: 40			#20T Pulley, 2mm Belt Pitch
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

endstop_pin: endstop0_pin
position_min: 0
position_endstop: 302
position_max: 302
homing_speed: 50				#Max 100
homing_retract_dist: 5

[tmc2209 stepper_x]
#42sth48-2504ac/2209
uart_pin: motor7_uart_pin
run_current: 1.1
#hold_current: #0.7

interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0      # spreadCycle mode (recommended)
#stealthchop_threshold: 999999 # stealthChop mode

#driver_TBL: 1
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 0

[stepper_y]
## A/Y motor (connected to MOTOR_6)
step_pin: motor6_step_pin
dir_pin: motor6_dir_pin
enable_pin: !motor6_enable_pin
rotation_distance: 40			#20T Pulley, 2mm Belt Pitch
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

endstop_pin: endstop1_pin
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 50				#Max 100
homing_retract_dist: 5

[tmc2209 stepper_y]
#42sth48-2504ac/2209
uart_pin: motor6_uart_pin
run_current: 1.1
#hold_current: #0.7

interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0      # spreadCycle mode (recommended)
#stealthchop_threshold: 999999 # stealthChop mode

#driver_TBL: 1
#driver_TOFF: 3
#driver_HEND: 0
#driver_HSTRT: 0

#####################################################################
#	Z Stepper Settings
#####################################################################

[stepper_z]
## Z/rear motor (connected to MOTOR_2)
step_pin: motor2_step_pin
dir_pin: !motor2_dir_pin
enable_pin: !motor2_enable_pin
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

endstop_pin: probe:z_virtual_endstop

position_min: -2.5
position_max: 200
homing_speed: 5 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 2
homing_retract_dist: 3.0

[tmc2209 stepper_z]
uart_pin: motor2_uart_pin
interpolate: true
run_current: 0.7
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0      # spreadCycle mode (recommended)
#stealthchop_threshold: 999999 # stealthChop mode

[stepper_z1]
## Z1/right motor (connected to MOTOR_1)
step_pin: motor1_step_pin
dir_pin: !motor1_dir_pin
enable_pin: !motor1_enable_pin
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

[tmc2209 stepper_z1]
uart_pin: motor1_uart_pin
interpolate: true
run_current: 0.7
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0      # spreadCycle mode (recommended)
#stealthchop_threshold: 999999 # stealthChop mode

[stepper_z2]
## Z2/left motor (connected to MOTOR_0)
step_pin: motor0_step_pin
dir_pin: !motor0_dir_pin
enable_pin: !motor0_enable_pin
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

[tmc2209 stepper_z2]
uart_pin: motor0_uart_pin
interpolate: true
run_current: 0.7
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0      # spreadCycle mode (recommended)
#stealthchop_threshold: 999999 # stealthChop mode

#####################################################################
#	Extruder
#####################################################################

[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
rotation_distance: 22.6789511	#Bondtech 5mm Bore Drive Gears
gear_ratio: 50:10				#Stealthburner/Clockwork 2
microsteps: 32
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: can0:HE0
sensor_type: ATC Semitec 104GT-2
sensor_pin: can0:TH0
min_temp: 10
max_temp: 290
max_power: 1.0
min_extrude_temp: 10
#control = pid
#pid_kp = 24.256
#pid_ki = 2.215
#pid_kd = 66.401

control = pid
pid_kp = 21.026
pid_ki = 1.001
pid_kd = 110.387

##	Try to keep pressure_advance below 1.0
pressure_advance: 0.065
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

max_extrude_only_distance: 1400.0
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: can0:EXT_UART
interpolate: true
run_current: 0.5
#hold_current: 0.4
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#	Bed Heater
#####################################################################

[heater_bed]
heater_pin: heated_bed_pin
sensor_type: Generic 3950
sensor_pin: TB_pin
##	Adjust Max Power so your heater doesn't warp your bed
##	A good starting point is 0.4 W/cm^2
max_power: 0.5
min_temp: -150
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#	Chamber Temp
#####################################################################
[temperature_sensor enclosure_temp]
sensor_type: ATC Semitec 104NT-4-R025H42G #ATC Semitec 104GT-2
sensor_pin: T1_pin

#####################################################################
#	Fan Control
#####################################################################

## HOT END FAN
[heater_fan hotend_fan]
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

## PART COOLING
[fan]
pin: can0:FAN1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[temperature_fan pi_cpu]
sensor_type: temperature_host
pin: host:gpio12
control: watermark
max_delta: 5
target_temp: 50
min_temp: 0
max_temp : 90
shutdown_speed: 0    # Turn off for a shutdown/panic

[controller_fan electronics]
pin: fan2_pin
kick_start_time: 0.5
off_below: 0.10
fan_speed: 1.0
stepper: stepper_y,stepper_x,stepper_z,stepper_z1,stepper_z2
shutdown_speed: 1.0    # Leave on during shutdown/panic

#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[probe]
pin: endstop2_pin
x_offset: 0
y_offset: 0
#z_offset: -1.025 # current correct but it too close (15/12)
z_offset: -1.120
speed: 3.0
samples: 3 
samples_result: median
samples_tolerance: 0.01
samples_tolerance_retries: 5
activate_gcode:
  {% set PROBE_TEMP = 150 %}
  {% set MAX_TEMP = PROBE_TEMP + 10 %}
  {% set ACTUAL_TEMP = printer.extruder.temperature %}

  # Temperature target is already low enough, but nozzle may still be too hot.
  {% if ACTUAL_TEMP > MAX_TEMP %}
    { action_respond_info('Extruder temperature %.1fC is too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
    M109 S{PROBE_TEMP}
    #_READY_DISPLAY
  {% endif %}

[safe_z_home]
home_xy_position: 150, 150
speed: 150
z_hop: 5

[z_tilt]
z_positions:
  150, 348   
  350, 18  
  -50, 18
     
points:
  150, 270	
  270, 25  
  30, 25

speed: 300
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 20, 10
mesh_max: 280, 285
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
#probe_count: 9,9
algorithm: bicubic

#####################################################################
#	Leds
#####################################################################

[output_pin daylight]
pin: he1_pin
pwm: True
cycle_time: 0.01

[neopixel bed_led]
pin: neopixel_pin
chain_count: 1
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
color_order: GRB

[neopixel sb_leds]
pin: can0:RGBLED
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
#	ADXL345
#####################################################################

[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 102.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 73.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.040625, -0.028125, -0.023750, 0.004375, 0.048125
#*# 	  0.053125, -0.021875, -0.008125, 0.023750, 0.053125
#*# 	  0.038125, -0.023750, -0.000625, 0.043125, 0.064375
#*# 	  0.044375, -0.005000, 0.028750, 0.085625, 0.101875
#*# 	  0.051875, 0.016250, 0.048125, 0.086875, 0.108125
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 5
#*# max_y = 285.0
#*# mesh_x_pps = 2
#*# max_x = 280.0

